.option {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-block: 5px;
}

.optionCategory {
  border-radius: 1em;
  flex: 1 0 10%;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 10px;
  padding-block: 0.5em;
  padding-inline: 1em;
  box-sizing: border-box;
}

.checkboxContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-right: auto;
}
